@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');


/*||||||||||| general style |||||||||||||||*/

:root{

    /*||||||||||| Primary-Color |||||||||||||*/

    --PrimaryDarkColor : hsl(158, 36%, 37%);   /* - Dark cyan */
    --PrimaryLightColor : hsl(30, 38%, 92%);   /* - Cream */

    /*||||||||||||| Netural-Color |||||||||||||*/

    --NeturalDarkColor: hsl(212, 21%, 14%);   /* - Very dark blue */
    --NeturalLightDark: hsl(228, 12%, 48%);   /* - Dark grayish blue */
    --NeturalLightColor: hsl(0, 0%, 100%);    /* - White */

    /*||||||||||||| Typographu ||||||||||||||||*/

    --FontSize: 14px;
    --FFM: "Montserrat", san-serif;  /* Font-Family: Montserrat */
    --FFF: "Fraunces", san-serif;    /* Font-Family: Fraunces */
}


/*||||||||| reset ||||||||||||||*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ///////////// design the body /////////////////////// */

body{
    width: 100%;
    height: 100vh;
    font-size: var(--FontSize);
    font-family: var(--FFM);
    background-color: var(--PrimaryLightColor);
    display: grid;
    place-items: center; 
}
.container{
    background-color: var(--NeturalLightColor);
    color: var(--NeturalLightDark);
    border-radius: 7.5px;
    display: flex;
    overflow: hidden;
    box-shadow: 30px 35px 40px 6px rgba(0,0,0,0.3);
}
.container > .productImage{
    
    background-size: cover;
    
}

  .container > .productDetails{   
    text-align: left;
    padding: 0 14px; 
    
}

.productDetails > section > .productTitle{
    text-align: left;
    text-transform: uppercase;
} 

.productDetails > section > h1{
    padding-top: 0.5rem;
    color: var(--NeturalDarkColor);
    font-family: var(--FFF);
    font-weight: 500;
    
}

.productDetails> section > .productPrice{
    display: flex;
}

.productDetails> section > .productPrice > .current{
    font-family: var(--FFF);
    color: var(--PrimaryDarkColor);
} 

 button{
    font-family: var(--FFM);
    font-weight: 700;
    font-size: 0.7rem;
    background-color: var(--PrimaryDarkColor);
    color: var(--PrimaryLightColor);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

button > img{
    margin-right: 7px;
}

button:focus, button:hover{
    background-color: hsl(158, 36%, 20%);
} 

@media screen and (min-width : 1440px){

    .container{
        width: 555px;
        text-align:center;  
    }

    .container > .productImage{   
        width: 745px;
        height: 24.8rem;
        background-color: aqua;
        background-image: url(../images/image-product-desktop.jpg);     
    }

     .container > .productDetails{
        width: 45rem;
    }

    .productDetails > section{
        margin: 0 20px 0;
    }

     .productDetails > section > p{
        padding-top: 1.4rem; 
        font-size: 13.5px;
        line-height: 1.4rem;
        
    }

    .productDetails > section > .productTitle{
        letter-spacing: 0.2rem; 
    }
    .productDetails > section > p > .creator{
        white-space: nowrap;
    }
    

    .productDetails > section > h1{
        width: 12rem;
        font-size: 1.85rem;
        line-height: 95%;
    }

    .productDetails> section > .productPrice > .previous{
        text-decoration: line-through;
        padding-left: 1rem;
    }

    .productDetails> section > .productPrice > .current{
        font-size: 1.7rem;   
    } 

     button{
        margin: 10% 0;
        margin-left: 6%;
        width: 80%;
        height: auto;
        padding: 6% 8%;
    } 
    button > img{
        margin-right: 5px;
    }
    button:focus, button:hover{
        background-color: hsl(158, 36%, 20%);
    } 
}

 @media screen and (max-width : 1440px){
   
    .container{
       width: 255px;
       height: auto;
       flex-direction: column;
       text-align:left;
       
    }
       
    .container > .productImage{
        width: auto;
        height: 180px;
        background-image: url('../images/image-product-mobile.jpg');
        background-size: cover;
    }
   
    .productDetails > section > p{
       padding-top: 0.8rem; 
       font-size: 10.7px;  
       line-height: 1.05rem; 
    }
         
 
    .productDetails > section > .productTitle{ 
        letter-spacing: 0.25rem;
    }
     
    .productDetails > section > h1{
        font-size: 1.45rem;  
    }
   
    .productDetails> section > .productPrice > .previous{
        text-decoration: line-through;
        padding-left: 0.85rem;
    }
 
    .productDetails> section > .productPrice > .current{
        font-size: 1.5rem;
    }

    button{
       margin: 8% 0;
       width: 90%;
       height: auto;
       padding: 5% 10%;
    } 
 }
