@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');


/*||||||||||| general style |||||||||||||||*/

:root{

    /*||||||||||| Primary-Color |||||||||||||*/

    --PrimaryDarkColor : hsl(158, 36%, 37%);   /* - Dark cyan */
    --PrimaryLightColor : hsl(30, 38%, 92%);   /* - Cream */

    /*||||||||||||| Netural-Color |||||||||||||*/

    --NeturalDarkColor: hsl(212, 21%, 14%);   /* - Very dark blue */
    --NeturalLightDark: hsl(228, 12%, 48%);   /* - Dark grayish blue */
    --NeturalLightColor: hsl(0, 0%, 100%);    /* - White */

    /*||||||||||||| Typographu ||||||||||||||||*/

    --FontSize: 14px;
    --FFM: "Montserrat", san-serif;  /* Font-Family: Montserrat */
    --FFF: "Fraunces", san-serif;    /* Font-Family: Fraunces */
}


/*||||||||| reset ||||||||||||||*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ///////////// design the body /////////////////////// */

.attribution {
    position: absolute;
    font-size: 14px;
    text-align: center;
    bottom: 1%;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

body{
    width: 100%;
    height: 100vh;
    font-size: var(--FontSize);
    font-family: var(--FFM);
    background-color: var(--PrimaryLightColor);
    display: grid;
    place-items: center; 
}
.container{
    /* background-color: var(--NeturalLightColor); */
    background-color: rgb(137, 137, 224);
    color: var(--NeturalLightDark);
    border-radius: 7.5px;
    display: flex;
    overflow: hidden;
}
.container > .productImage{
    
    background-size: cover;
    
}

/* .container > .productDetails{   
    text-align: left;
    padding: 0 20px; 
}

.productDetails > section > .productTitle{
    text-align: left;
    text-transform: uppercase;
}

.productDetails > section > h1{
    padding-top: 1rem;
    color: var(--NeturalDarkColor);
    font-family: var(--FFF);
    font-weight: 700;
}

.productDetails> section > .productPrice{
    display: flex;
}

.productDetails> section > .productPrice > .current{
    font-family: var(--FFF);
    color: var(--PrimaryDarkColor);
} */

/* button{
    font-family: var(--FFM);
    font-weight: 700;
    font-size: 0.95rem;
    background-color: var(--PrimaryDarkColor);
    color: var(--PrimaryLightColor);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

button > img{
    margin-right: 7px;
}

button:focus, button:hover{
    background-color: hsl(158, 36%, 20%);
} */

@media screen and (min-width : 1440px){

    .container{
        width: 555px;
        text-align:center;  
    }

    .container > .productImage{   
        width: 44rem;
        height: 24.8rem;
        background-color: aqua;
        background-image: url(../images/image-product-desktop.jpg);     
    }

    .container > .productDetails{
        width: 46rem;
    }

    .productDetails > section{
        margin: 0 20px 0;
    }

    /* .productDetails > section > p{
        padding-top: 2rem; 
        font-size: 17px;
        font-weight: 500;  
        word-spacing: 0.25rem;
        line-height: 1.7rem;
        
    }

    .productDetails > section > p > .creator{
        white-space: nowrap;
    }

    .productDetails > section > .productTitle{
        letter-spacing: 0.35rem; 
    }

    .productDetails > section > h1{
        font-size: 2.5rem;
        line-height: 95%;
    }

    .productDetails> section > .productPrice > .previous{
        text-decoration: line-through;
        padding-left: 1.5rem;
    }

    .productDetails> section > .productPrice > .current{
        font-size: 2.25rem;   
    } */

    /* button{
        margin: 12% 0;
        margin-left: 5%;
        width: 80%;
        height: auto;
        padding: 6% 10%;
    } 
    button > img{
        margin-right: 7px;
    }
    button:focus, button:hover{
        background-color: hsl(158, 36%, 20%);
    } */
}

/* @media screen and (max-width : 1440px){
   
    .container{
       width: 340px;
       height: auto;
       flex-direction: column;
       text-align:left;
    }
   
    .container > .productImage{width: 375px;
        height: 240px;
        background-image: url('../images/image-product-mobile.jpg');
    }
   
    .productDetails > section > p{
       padding-top: 1rem; 
       font-size: 14px;
       font-weight: 500;  
       line-height: 1.4rem; 
    }
         
   
    .productDetails > section > .productTitle{ 
        letter-spacing: 0.25rem;
    }
   
    .productDetails > section > h1{
        font-size: 2rem;
        line-height: 100%;
    }
      
    .productDetails> section > .productPrice{
        margin-top: 10px ;
    }
   
    .productDetails> section > .productPrice > .previous{
        text-decoration: line-through;
        padding-left: 1rem;
    }
 
    .productDetails> section > .productPrice > .current{
        font-size: 2rem;
    }

    button{
       margin: 8% 0;
       width: 90%;
       height: auto;
       padding: 5% 10%;
    } */

/* } */
